body {
  font-family: Arial;
}
body.ui-overlay-a {
  background: #353535;
}
.hide {
  display: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
#cooment_popup-popup {
  top: 3em!important;
  left: .5em!important;
  right: .5em!important;
  bottom: .5em!important;
  max-width: 120%!important;
}
.ui-fit-popup {
  width: 100%;
  height: 100%;
  border: 1px solid #FFDF00;
  overflow: auto;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
}
.ui-fit-popup p {
  font-size: 1em;
  padding: .2em;
}
.ui-btn-no-border {
  border: none;
  padding: 0;
}
.ui-btn-short {
  margin: 0.5em -0.5em;
}
.ui-input-text {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
}
.ui-icon-clock-fix:after {
  content: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C12c-2.762%2C0-5-2.238-5-5s2.238-5%2C5-5s5%2C2.238%2C5%2C5%20S9.762%2C12%2C7%2C12z%20M9%2C6H8V4c0-0.553-0.447-1-1-1S6%2C3.447%2C6%2C4v3c0%2C0.553%2C0.447%2C1%2C1%2C1h2c0.553%2C0%2C1-0.447%2C1-1S9.553%2C6%2C9%2C6z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.ui-input-has-additional {
  white-space: nowrap;
}
.ui-input-has-additional input {
  display: inline-block;
  width: 60%;
  font-size: 1.5em;
  line-height: 1.2;
  min-height: 1.8em;
  padding: .2em;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-input-has-additional .ui-input-add {
  display: inline-block;
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
  font-weight: normal;
  width: 40%;
  padding: .7em .2em;
  vertical-align: middle;
  min-height: 2.7em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-input-has-additional .ui-input-add.two-line {
  font-size: .8em;
  line-height: 1.6;
  padding-top: .2em;
  padding-bottom: .1em;
  background: #00FFBA;
  color: #000;
}
.ui-input-has-additional .ui-input-add.two-line:hover,
.ui-input-has-additional .ui-input-add.two-line:active {
  background: #2CE6B3;
  color: #000;
}
.ui-input-has-additional .ui-input-add.red {
  background: #E80000;
  color: #fff;
}
.ui-input-has-additional .ui-input-add.red:hover,
.ui-input-has-additional .ui-input-add.red:active {
  background: #FF0000;
  color: #fff;
}
.ui-input-has-additional .ui-input-add.grey {
  background: #9D9D9D;
  color: #fff;
}
.ui-input-has-additional .ui-input-add.grey:hover,
.ui-input-has-additional .ui-input-add.grey:active {
  background: #AAAAAA;
  color: #fff;
}
.ui-input-has-additional .ui-input-add.purple {
  background: #FFA0A0;
}
.ui-input-has-additional .ui-input-add.purple:hover,
.ui-input-has-additional .ui-input-add.purple:active {
  background: #FF8787;
}
.ui-page.ui-page-theme-a {
  background: #353535;
}
.ui-page-theme-a .ui-btn {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.0001);
}
.ui-page-theme-a .ui-btn:hover {
  background: transparent;
}
.ui-page .ui-header.ui-bar-inherit {
  background: #2D2D2D;
}
.ui-page .ui-header .ui-btn {
  color: #fff;
  background: transparent;
}
.ui-page .ui-header .ui-btn-left {
  left: -1.2em;
  top: 0.75em;
  padding-right: 2em;
}
.ui-page .ui-header .ui-btn-left.less-left {
  top: .3em;
  left: -0.85em;
}
.ui-page .ui-header .ui-title {
  position: relative;
  z-index: 1;
  text-align: left;
  margin: 0 .8em;
  padding: 0.25em 0;
  font-size: 1.22em;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #fff;
}
.ui-page .ui-header .ui-title .small {
  font-size: .6em;
}
.ui-page .ui-header .btn-group-right {
  position: absolute;
  top: .24em;
  right: 0;
  z-index: 2;
}
.ui-page .ui-header .btn-group-right .ui-btn {
  color: #fff;
  margin: 0 .4em;
}
.ui-page .ui-header .btn-group-right .ui-btn.ui-btn-active {
  background: transparent;
  color: #FFDF00;
}
.ui-page .ui-header .ui-navbar {
  border-bottom: 2px solid #FFDF00;
  background: #323232;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.ui-page .ui-header .ui-navbar .ui-btn-left,
.ui-page .ui-header .ui-navbar .ui-btn-right {
  top: .4em;
}
.ui-page .ui-header .ui-navbar .ui-btn-right {
  right: .4em;
}
.ui-page .ui-header .ui-navbar .ui-btn-left {
  left: .4em;
}
.ui-page .ui-header .ui-navbar li + li {
  border-left: 2px solid #FFDF00;
}
.ui-page .ui-header .ui-navbar .date-header {
  text-align: center;
  text-transform: uppercase;
}
.ui-page .ui-header .ui-navbar .date-header h3 {
  font-weight: normal;
  margin: .5em 0 0;
  font-size: 1em;
}
.ui-page .ui-header .ui-navbar .date-header p {
  margin: .2em 0 .4em;
  font-size: 0.7em;
}
.ui-page .ui-content.short {
  padding: .2em .3em;
  position: absolute;
  top: 6.05em;
  bottom: 0;
  left: 0;
  right: 0;
}
.ui-page .ui-content textarea {
  resize: none;
  margin: 0;
  height: 100%!important;
}
.ui-page .ui-content .ui-listview {
  background: #fff;
}
.ui-page .ui-content .ui-listview li {
  overflow: visible;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #111;
}
.ui-page .ui-content .ui-listview li.ui-li-has-thumb {
  padding-left: 7em;
}
.ui-page .ui-content .ui-listview li img.exercise-img {
  margin: 0.6em;
}
.ui-page .ui-content .ui-listview li .li-content {
  position: relative;
}
.ui-page .ui-content .ui-listview li .li-content:after {
  content: "";
  position: absolute;
  display: block;
  left: -0.5em;
  top: -0.8em;
  bottom: -0.8em;
  border-right: 1px solid #111;
}
.ui-page .ui-content .ui-listview li .li-content a {
  text-decoration: none;
}
.ui-page .ui-content .ui-listview li .li-content h3 {
  font-size: 0.8em;
  text-overflow: clip;
  white-space: normal;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  min-height: 4.8em;
}
.ui-page .ui-content .ui-listview li .li-content h3:first-letter {
  font-size: 1.3em;
  line-height: 0;
}
.ui-page .ui-content .ui-listview li .li-content h3.red {
  color: red;
}
.ui-page .ui-content .ui-listview li .li-content h3.blue {
  color: #0080D0;
}
.ui-page .ui-content .ui-listview li .li-content h3.green {
  color: #006500;
}
.ui-page .ui-content .ui-listview li .li-control {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #000;
}
.ui-page .ui-content .ui-listview li .li-control .ui-btn {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.9;
}
.ui-page .ui-content .ui-listview li .ui-btn.ui-btn-bottom-right {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  min-height: 0;
  padding: 0;
  border: none;
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.ui-page .ui-content .ui-listview li table {
  margin: 0 -0.5em 0.5em;
}
.ui-page .ui-content .ui-listview li table td .ui-input-text {
  margin: .2em 0;
}
.ui-page .ui-content .ui-listview li dl {
  margin: 0 0 .2em;
}
.ui-page .ui-content .ui-listview li dl.left {
  float: left;
  margin-left: -0.5em;
}
.ui-page .ui-content .ui-listview li dl.right {
  float: right;
  margin-right: -0.5em;
}
.ui-page .ui-content .ui-listview li dl dd {
  text-transform: uppercase;
  font-size: .6em;
  margin: 0 .5em 0;
  display: inline-block;
}
.ui-page .ui-content .ui-listview li dl dt {
  display: inline-block;
}
.ui-page .ui-content .ui-listview li dl dt.purple {
  background: #FFA0A0;
}
.ui-page .ui-content .ui-listview li dl dt.lime {
  background: #00FFBA;
}
.ui-page .ui-content .ui-listview.with-control li {
  margin-bottom: 3em;
}
.ui-page .ui-content .ui-listview.with-control .li-control {
  display: block;
}
.ui-page .ui-content .ui-listview.hide-link li a.ui-btn {
  color: #000;
  border: none;
  font-weight: normal;
  font-size: 1.3em;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: 0.7em;
}
.ui-page .ui-content .ui-listview.hide-link li a.ui-btn:after {
  background: transparent;
}
